@import "theme-variables";

a{
  color: $brand-secondary;
}

.navbar-default .navbar-nav > li > a:hover{
  color: $dvmi-navbar-color;
}

.home-content .options .option>div .icon{
  color: mix( $color-blue-light, $brand-secondary, 75% );
}

.home-content .options .option>div{
  &:hover{
    border-color: $brand-secondary;

    h3{
      color: $brand-secondary;
    }
  }
  .btn{
    text-transform: uppercase;
    border-color: lighten($brand-secondary, 5%);
    background: lighten($brand-secondary, 5%);

    &:before{
      display: none;
    }

    &:hover{
      border-color: $brand-secondary;
      background: $brand-secondary;
    }
  }
}

.form-search .form-inline{
  .form-control,
  .btn{
    border-color: $color-green;
  }
  .btn{
    background: $color-green;
    &:hover{
      background: darken( $color-green, 5% );
    }
  }
}

.tax-receipt-content .form-user-incomings,
.tax-receipt-content #tax-amount{
  background: $color-blue-light;
}

.tax-receipt-content .form-user-incomings{
  padding-top: 2*$grid-gutter-width/3;
  padding-bottom: 2*$grid-gutter-width/3;
  text-align: center;

  .form-group{
    width: auto;
    float: none;
  }

  .input-group{
    margin-left: $grid-gutter-width/2;
  }
}

.tax-receipt-content .tax-note{
  padding: $grid-gutter-width/2 $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  background: $page-header-bg;
}