<script>
// Global function getSum
function getSum(breakdown, ids, field, year, budgetStatuses, use_execution_data) {
  // If not specified otherwise, prefer the execution amount if it exists and
  // the year is complete... otherwise stick with the budget.
  if ( use_execution_data === undefined )
    use_execution_data = budgetStatuses[year]!== undefined &&
                            budgetStatuses[year]=='' &&
                            breakdown.years['actual_'+year];

  var column_name = use_execution_data ? 'actual_'+year : year;
  return _.reduce(ids, function(sum, id) {
      // It's rare, but it may happen that a chapter is missing, so double check
      return sum + ((breakdown.sub[id]&&breakdown.sub[id][field][column_name]) || 0);
    }, 0);
}

// Update budget totals
function updateBudgetTotals(chapterBreakdown, economicBreakdown, budgetStatuses, adjustInflationFn, uiState) {
  function format(amount) {
    return Formatter.amount(adjustInflationFn(amount, uiState.year));
  }

  // Populate data rows
  var dataRows = [
    [[1], 'expense', '.expense-table #row-chapters-1'],
    [[2], 'expense', '.expense-table #row-chapters-2'],
    [[3], 'expense', '.expense-table #row-chapters-3'],
    [[4], 'expense', '.expense-table #row-chapters-4'],
    [[1,2,3,4], 'expense', '.expense-table #row-chapters-1-4'],
    [[6], 'expense', '.expense-table #row-chapters-6'],
    [[7], 'expense', '.expense-table #row-chapters-7'],
    [[6,7], 'expense', '.expense-table #row-chapters-6-7'],
    [[5], 'expense', '.expense-table #row-chapters-5'],
    [[1,2,3,4,5,6,7], 'expense', '.expense-table #row-chapters-1-7'],
    [[8], 'expense', '.expense-table #row-chapters-8'],
    [[9], 'expense', '.expense-table #row-chapters-9'],
    [[8,9], 'expense', '.expense-table #row-chapters-8-9'],
    [[1,2,3,4,5,6,7,8,9], 'expense', '.expense-table #row-chapters-1-9'],

    [[1], 'income', '.income-table #row-chapters-1'],
    [[2], 'income', '.income-table #row-chapters-2'],
    [[3], 'income', '.income-table #row-chapters-3'],
    [[4], 'income', '.income-table #row-chapters-4'],
    [[5], 'income', '.income-table #row-chapters-5'],
    [[1,2,3,4,5], 'income', '.income-table #row-chapters-1-5'],
    [[6], 'income', '.income-table #row-chapters-6'],
    [[7], 'income', '.income-table #row-chapters-7'],
    [[6,7], 'income', '.income-table #row-chapters-6-7'],
    [[1,2,3,4,5,6,7], 'income', '.income-table #row-chapters-1-7'],
    [[8], 'income', '.income-table #row-chapters-8'],
    [[9], 'income', '.income-table #row-chapters-9'],
    [[8,9], 'income', '.income-table #row-chapters-8-9'],
    [[1,2,3,4,5,6,7,8,9], 'income', '.income-table #row-chapters-1-9'],
  ];

  var has_execution_data = chapterBreakdown.years['actual_'+uiState.year];

  _.each(dataRows, function(dataRow) {
    var ids = dataRow[0],
        field = dataRow[1],
        row = $(dataRow[2]);

    var currentBudget = getSum(chapterBreakdown, ids, field, uiState.year, budgetStatuses, false);
    $('.column-1 .data-point', row).text(format(currentBudget));

    if ( has_execution_data ) {
      var currentActual = getSum(chapterBreakdown, ids, field, uiState.year, budgetStatuses, true);
      $('.column-2 .data-point', row).text(format(currentActual));
    } else {
      $('.column-2 .data-point', row).text('');
    }
  });
}

// Calculate global budget indicators
function calculateIndicators(chapterBreakdown, budgetStatuses, adjustInflationFn, uiState) {
  function format(amount) {
    return Formatter.amount(adjustInflationFn(amount, uiState.year));
  }

  var gross_savings = getSum(chapterBreakdown, _.range(1, 6), 'income', uiState.year, budgetStatuses) -
                      getSum(chapterBreakdown, _.range(1, 6), 'expense', uiState.year, budgetStatuses);
  var net_savings = gross_savings - getSum(chapterBreakdown, '9', 'expense', uiState.year, budgetStatuses);
  var funding_capacity = gross_savings +
                          getSum(chapterBreakdown, [6, 7], 'income', uiState.year, budgetStatuses) -
                          getSum(chapterBreakdown, [6, 7], 'expense', uiState.year, budgetStatuses);

  $('#total-gross-savings').text(format(gross_savings));
  $('#total-net-savings').text(format(net_savings));
  $('#total-funding-capacity').text(format(funding_capacity));

  var year_description = uiState.year;
  var budget_status = budgetStatusLabels[budgetStatuses[uiState.year]];
  if ( budget_status != undefined && budget_status != '' )
    year_description += ' ('+ budget_status + ')';
  $('#indicators-year, #totals-year').text(year_description);
}

// Show the budget indicators for the current year.
// The indicators' values are expected to be part of the HTML.
function showIndicators(uiState) {
  // Update budget indicators by year
  $('#totals-panel .panel.indicators .value').hide();
  $('#totals-panel .panel.indicators .value-'+uiState.year).show();

  $('#indicators-year, #totals-year').text(uiState.year);
}
</script>