<form id="tax-receipt-form" class="form-user-incomings form-inline" action="#" method="get">
  <div class="form-group">
    <label for="input-incomes">{{ _('Indica tus ingresos brutos anuales') }}</label>
    <div class="input-group">
      <input id="input-incomes" class="form-control" type="number" placeholder="30000" min="1000" max="150000" step="1000">
      <div class="input-group-addon">€</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">{{ _('Calcular') }}</button>
</form>

<p id="tax-amount">{{ _('Contribuyes con un total de <strong id="tax-amount-paid"></strong> a los presupuestos del Gobierno de Aragón')|safe }}.</p>

<p class="tax-note"><small>{{ _('El cálculo está basado en aproximaciones medias y ni sustituye ni complementa a las declaraciones tributarias oficiales. La aproximación incluye IRPF, IVA e Impuestos Especiales. Para realizar el cálculo hemos supuesto lo siguiente: todos tus ingresos provienen de rendimientos del trabajo; en el caso de ingresos inferiores a 30.000€  gastas todos tus ingresos y en caso de superar los 30.000 €  ahorras el 8% de los mismos; tienes un consumo medio de los productos sometidos a impuestos especiales.') }}.</p>
